.bx_order_make { padding: 13px 0px 0px; }
.bx_order_make .section h3 { margin-bottom: 33px; }
.section.filter label { cursor: pointer; }
.section.filter label span { margin-left: 24px; }
.bx_order_make .info_block { padding: 0px; border: 1px solid #E5E5E5; position: relative; margin: 0px 0px 20px; }
#order_form_div .section.info { margin-bottom: -3px; border-bottom-width: 0px; padding: 0px; }
#order_form_div .info_block .wrap_md > div { width: 50%; position: relative; }
#order_form_div .info_block .wrap_md > div .bx_section { padding-bottom: 24px; }
#order_form_div input, #order_form_div select, #order_form_div textarea { font-size: 13px; } 

#order_form_div .sale_data-table.summary td { background: #fff !important; }
#order_form_div { font-size: 12px; }
#order_form_div .sof-req { color: red; font-size: 10px; }
#order_form_div .clear { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0px; line-height: 0px; }

#order_form_div .section { margin-bottom: 30px; border-bottom: 1px solid #e5e5e5; padding: 0px 0px 33px; }
#order_form_div .title { font-weight: bold; font-size: 15px; border-bottom: 1px solid #dcdfe2; width: 100%; padding-bottom: 5px; margin-bottom: 5px; }
#order_form_div .title a { color: #2d739d; font-size: 12px; text-decoration: underline; margin-left: 10px; outline: none; }
#order_form_div .title a:hover { text-decoration: none; }
#order_form_div .label.left { float: left; margin: 0 34px 10px 0; }
#order_form_div .sale_order_table { font-size: 12px; border-collapse: collapse; border-spacing: 0; width: 100%; }
#order_form_div .sale_order_table td { padding: 15px 0; background: none !important; }
#order_form_div .sale_order_table .name { width: 190px; text-align: left; vertical-align: top; }
#order_form_div .sale_order_table.props td { border-bottom: 1px solid #dcdfe2; }
#order_form_div .sale_order_table input[type="text"],
#order_form_div .sale_order_table textarea,
#order_form_div .sale_order_table select{ width: 365px; }
#order_form_div .sale_order_table textarea { height: 70px; overflow: hidden; resize: none; }
#order_form_div .sale_order_table select { padding: 6px 3px 6px 8px; width: 383px; margin-bottom: 5px; }
#order_form_div .sale_order_table .desc { color: #a3a3a3; font-size: 11px; margin: 3px 0; }

/*paysystem*/
#order_form_div .sale_order_table.paysystem td { border-bottom: none; }
#order_form_div .sale_order_table .ps_logo { float: left; text-align: center; margin: 0 15px 10px 0; height: 85px; }
#order_form_div .sale_order_table .with_description { margin-right: 0 !important; height: 30px; }
#order_form_div .sale_order_table .ps_logo img,
#order_form_div  .sale_order_confirm img,
#order_form_div .account img { border-radius: 2px; border: 1px solid #d1d1d1; box-shadow: 2px 2px 2px rgba(180,188,191,0.5); padding:1px; float: left; }
div.bx_section div.bx_block div.bx_element input[type=radio],
div.bx_section div.bx_block div.bx_element input[type=checkbox],
#order_form_div .sale_order_table .ps_logo input[type=radio],
#order_form_div .account input[type=checkbox] { display: none; }

.bx_element input[type=radio]:checked + label .bx_logotype,
.bx_element label.selected .bx_logotype{	border: 2px solid; padding: 0px;}
#order_form_div .sale_order_table .paysystem_name,
#order_form_div .sale_order_confirm .paysystem_name {	font-size: 11px;	color: #a3a3a3;	width: 95px;	line-height: 11px;	margin-top: 65px;}
#order_form_div .account img,
#order_form_div .account .desc {	float: left;}
#order_form_div .account img {	margin-right: 10px;}
#order_form_div .account .name {	font-weight: bold;	margin-bottom: 3px;	color: #000;}
#order_form_div .account .desc {	font-size: 11px;	color: #a3a3a3;	line-height: 11px;	text-align: left;	width: 80%;}
#order_form_div .account .desc.width_limited {width:100%;}
#order_form_div .account .ps_logo.with_description {width:100%;}

/*delivery*/
#order_form_div .sale_order_table.delivery td { padding: 7px 0; }
#order_form_div .sale_order_table.delivery .name { font-weight: bold; width: auto; color: #000; }
#order_form_div .sale_order_table.delivery .desc { color: #a3a3a3; width: 400px; }
#order_form_div .sale_order_table.delivery td table { width: auto; }
#order_form_div .sale_order_table.delivery td table td { padding: 0; text-align: left; }
#order_form_div .sale_order_table.delivery .prop img { border-radius: 2px; border: 1px solid #d1d1d1; box-shadow: 2px 2px 2px rgba(180,188,191,0.5); padding:1px; margin: 0 10px 0 0; }
#order_form_div .sale_order_table.delivery .prop input,
#order_form_div .sale_order_table.delivery .prop img,
#order_form_div .sale_order_table.delivery .prop .desc { float: left; margin-right: 10px; }
#order_form_div .sale_order_table.delivery .prop input[type=radio] { display: none; }

/*summary*/
#order_form_div .sale_data-table { border-collapse: collapse; border-spacing: 0; width: 100%; margin-top: 10px; }
#order_form_div .sale_data-table th { background-color: #f5f5f5; padding: 7px 13px; text-align: left; 	font-weight: normal; }
#order_form_div .sale_data-table td { border-bottom: 1px solid #f5f5f5; padding: 7px 13px; text-align: left; background: none !important; }
#order_form_div .sale_data-table td.price { white-space: nowrap; text-align: right; }
#order_form_div .sale_data-table td.itog { text-align: right; }
#order_form_div .sale_data-table tfoot td { border-bottom: none; }
#order_form_div .sale_data-table tfoot tr.last td { border-top: 1px solid #f5f5f5; font-weight: bold; white-space: nowrap; }
#order_form_div .order_comment { width: 100%; }
#order_form_div .order_comment div {	color: #a3a3a3;	font-size: 12px;	margin-bottom: 5px;}
#order_form_div .order_comment textarea {	width: 97%;	height: 70px;}

/* auth */
#order_form_div .order-auth {	border-collapse: collapse;	border-spacing: 0;	width: 100%;}
#order_form_div .order-auth td {	text-align: left;	vertical-align: top;}
#order_form_div .sale_order_table.delivery .errortext {	margin: 0;	font-size: 11px;	padding: 5px;	width: 230px;}
#order_form_div .sale_order_full_table td.ps_logo {	text-align: left;	vertical-align: top;}
#order_form_div .sale_order_full_table .ps_logo .pay_name {	font-weight: bold;	margin-bottom: 5px;	font-size: 15px;}
#order_form_div .desc .ora-store { font-size: 12px;}
.store_location { display:none; }
.store_location .ora-store {	width: 40%;	float: left;}
.store_location .ora-store table td {	padding: 10px;	text-align: left;	vertical-align: top;}
.store_location .name {	font-weight: bold;}
.store_location .location {	width: 60%;	float: left;}
#order_form_div .select_store {	font-size:12px;}

.image { padding: 5px 0 5px 0; }
/* new */
.bx_order_make{	font-size: 13px;}
.bx_order_make hr{	border: none;	border-bottom: 1px solid #dcdfe2;}
.bx_order_make .bx_section{	padding: 38px 43px; border-bottom: 1px solid #eee; }
.bx_order_make .bx_section .slide { position: absolute; top: 0px; right: 0px; }
#order_form_div .info_block .wrap_md .bx_section, .bx_order_make .bx_section:last-child { border-bottom-width: 0px; }
.bx_order_make .bx_section h4{	display: block;	margin-bottom: 10px; padding-bottom: 21px; position: relative; }
.bx_order_make .bx_section h4.slides { padding-bottom: 1px; margin-bottom: 0px; }
.bx_order_make .bx_block{ float: left; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin: 0px 0px 25px 0px; padding:0; vertical-align: middle;position: relative; }
.bx_order_make .bx_block.r1x3.pt8{padding-top:8px; font-size: 12px; padding-left: 0px; }
.bx_order_make .bx_block .star { margin-left: 0px; }
.bx_order_make .bx_block.r1x3{margin:0; 		  width:21% }
.bx_order_make .bx_block.r3x1{margin:0; 		  width:100%;//79% }
.bx_order_make .bx_block.w100{width:100%}
.bx_order_make .bx_block.float { width: 25%; padding: 0px 15px 0px 0px; float: none; display: inline-block; vertical-align: top; margin-bottom: 10px; }
.bx_order_make .bx_block.horizontal {margin:5px 0 10px 0}

@media (max-width:480px){
	.bx-touch .bx_order_make .bx_block.r1x3,
	.bx-touch .bx_order_make .bx_block.r3x1{float:none;margin-right:0;width:100%;}
}

.bx_order_make .bx_logotype{ cursor: pointer; padding: 1px; float: left; border-radius: 2px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; border: 1px solid #e5e5e5; margin-right: 20px; }
.bx_order_make .bx_block.horizontal .bx_logotype{margin-right: 0}
.bx_order_make .bx_logotype span{ display: block; width: 99px; height: 59px; background-repeat: no-repeat; background-position: center;background-size: contain; }
.bx_order_make .bx_description{ font-size: 11px; padding: 0px 0px 0px 123px; }
.bx_order_make .bx_description .name { font-size: 13px; }
.bx_order_make .float .bx_description .name { font-size: 12px; }
.bx_order_make .float .bx_logotype { margin: 0px; float: none; display: inline-block; }
.bx_order_make .float label { font-size: 0px; line-height: 0px; }
.bx_order_make .bx_description p{ display: block; font-size: 12px; line-height: 16px; margin: 0px; }

.bx_order_make .bx_block.float .bx_description { padding: 3px 0px 0px; text-align: center; line-height: 16px; }

.bx_order_make .bx_result_price{ }
.bx_order_make .bx_result_price a{font-weight: normal;}
@media (max-width:640px){
	.bx_order_make .bx_result_price{ float: none; display: block; width: 100%; }
}
.bx_order_make .bx_result_price a{color: #12a9e1}
.bx_order_make .bx_result_price a:hover{text-decoration:none}
.bx_order_make .bx_description strong{ display: block; color: #000; }

.bx_ordercart .bx_ordercart_order_table_container tbody .right { text-align: right !important; }

div#order_form_content div.bx_section div#sale_order_props div div.bx_block textarea { margin-bottom: 10px; }

div#order_form_content .errortext {
	display: inline-block;
	margin-top: 15px;
	padding: 10px 15px 10px 60px !important;
	border-top: 1px solid #E4CBD1;
	border-right: 1px solid #D5BABE;
	border-bottom: 1px solid #C9ABAF;
	border-left: 1px solid #D5BABE;
	border-radius: 5px;
	background: #F8EAED;
	background: url("images/alert.png") 10px 50% no-repeat, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: url("images/alert.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8EAED), color-stop(100%,#EDD0D6));
	background: url("images/alert.png") 10px 50% no-repeat, -webkit-linear-gradient(top, #F8EAED 0%,#EDD0D6 100%);
	background: url("images/alert.png") 10px 50% no-repeat, -moz-linear-gradient(top, #f8eaed 0%,#edd0d6 100%);
	background: url("images/alert.png") 10px 50% no-repeat, -ms-linear-gradient(top, #f8eaed 0%,#edd0d6 100%);
	background: url("images/alert.png") 10px 50% no-repeat, -o-linear-gradient(top, #f8eaed 0%,#edd0d6 100%);
	background: url("images/alert.png") 10px 50% no-repeat, linear-gradient(to bottom, #F8EAED 0%,#EDD0D6 100%);
	box-shadow: inset 0 1px 1px 0 #FFF;
	color: #881521 !important;
	text-shadow: 0 1px 0 #FFF;
	font-weight: bold;
	font-size: 15px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8eaed', endColorstr='#edd0d6',GradientType=0 );
}

/* new locations */
#order_form_div .bx-sls input[type="text"]{ margin-bottom: 0; }
#order_form_div .location-block-wrapper{ width: 100%; }
#order_form_div .dropdown-block{ width: auto; background: #F7F7F7; border: 1px solid #E5E5E5; box-shadow: none; }
#order_form_div .bx-ui-sls-container{ display: block !important; }
#order_form_div .bx-ui-sls-route{ padding-top: 0 !important; }

.-bx-order-property-city{ display: none; }
.-bx-popup-special-prompt{ padding: 5px 10px; }
.location-block-wrapper .bx-sls .dropdown-fade2white, .location-block-wrapper .bx-sls .bx-ui-sls-clear { background: none; }
.location-block-wrapper .bx-sls .bx-ui-sls-clear:before, .location-block-wrapper .bx-sls .bx-ui-sls-clear:after { height: 17px; width: 17px; border-radius: 100%; background: #ddd; display: none; content: ""; position: absolute; top: 6px; right: 8px; }
.location-block-wrapper .bx-sls .bx-ui-sls-clear:after { background: url('../../../../images/close_icons.png') 3px -23px no-repeat; display: block; }
.bx-sls .bx-ui-sls-clear:hover:before { display: block; }
.bx-sls .bx-ui-sls-clear:hover:after { background-position: -17px -23px; }
.location-block-wrapper .bx-sls .dropdown-icon { background: url('../../../../images/icons_wish.png') -123px -82px no-repeat; width: 15px; height: 15px; top: 9px; }
.location-block-wrapper .bx-sls .bx-ui-sls-fake, .location-block-wrapper .bx-sls .bx-ui-sls-route { font-family: Ubuntu, Arial, Helvetica, sans-serif; }

/*.wrap_props .prop_block { margin: 25px 0px 0px; }*/
.wrap_props .prop_block:first-child { margin-top: 0px; }
/* Zakirov Nail*/
@media (min-width: 600px) {
	.wrap_props{height: 280px;}
	.wrap_props .prop_block {
		width: 45%;
		float: left;
		padding: 0 25px 0 0;
	}
	.prop_block .bx_block.r1x3.pt8 {
		width: 100%;
	}
}