
.z_news_item{
	border-radius: 2px;
	margin: 10px;
	-webkit-box-shadow: 1px 1px 10px 1px #000000;
	box-shadow: 1px 1px 10px 1px #000000;

	height: 345px;
	max-height: 345px;
	overflow: hidden;

	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.z_news_item:hover{
	-webkit-box-shadow: 1px 1px 10px 1px #03ACF0;
	box-shadow: 1px 1px 10px 1px #03ACF0;
}
.z_news_info{
	margin-top: 10px;
	margin-bottom: 10px;
}
.z_news_info .z_pic,
.z_news_info .z_name,
.z_news_info .z_text{

}

.z_news_info .z_pic{

	height: 200px;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 10px;
}
.z_news_info .z_name{}
.z_news_info .z_text{}