.basket_wrapp .module-cart table.bottom.middle td.row_values{float:none !important;display:table-cell !important;padding-top: 39px;}
.scroll-to-top{display:none !important;}
#header .middle-h-row .logo_wrapp .logo a, .form_demo-switcher{display:none;}
#header .middle-h-row .logo_wrapp .logo a.print_img{display:block;}
header{background: none !important;}
.phone_text{color:#000 !important;}